* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3f1ed;
    color: #222;
}



.hero {
    height: 350px;

    background-image:
        linear-gradient(rgba(0, 0, 0, 0.45),
            rgba(0, 0, 0, 0.45)),
        url("../images/photography.jpg");

    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.hero-overlay {
    color: white;
}

.eyebrow {
    margin: 0 0 12px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 3px;
}

.hero h1 {
    margin: 0;
    font-size: 52px;
    font-weight: bold;
    letter-spacing: 2px;
}

.subtitle {
    margin-top: 15px;
    font-size: 21px;
    letter-spacing: 1px;
}



.navbar {
    height: 60px;

    background-color: #222;

    display: flex;
    justify-content: center;
    align-items: center;

    position: sticky;
    top: 0;

    z-index: 100;
}

.nav-inner {
    display: flex;
    gap: 50px;
}

.navbar a {
    color: white;
    text-decoration: none;

    font-size: 17px;
    font-weight: bold;

    padding: 20px 10px;
}

.navbar a:hover {
    color: #d8b98c;
}



.page-content {
    width: 100%;
    max-width: 1000px;

    margin: 0 auto;

    padding: 50px 20px 80px;
}



.intro {
    text-align: center;

    max-width: 750px;

    margin: 0 auto 60px;
}

.intro h2 {
    font-size: 32px;

    margin-bottom: 18px;
}

.intro p {
    font-size: 17px;

    line-height: 1.7;

    color: #555;
}



.iframe-section {
    text-align: center;

    margin-bottom: 75px;
}

.section-heading {
    margin-bottom: 25px;
}

.section-heading span {
    display: block;

    font-size: 14px;
    font-weight: bold;

    letter-spacing: 3px;

    color: #8b7658;

    margin-bottom: 8px;
}

.section-heading h2 {
    font-size: 27px;

    margin: 0;
}



.iframe-card {
    width: 600px;
    height: 500px;

    margin: 0 auto;

    background-color: white;

    border: 1px solid #ccc;

    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);

    overflow: hidden;
}

.iframe-card iframe {
    display: block;

    width: 600px;
    height: 500px;

    border: none;
}



footer {
    background-color: #222;

    color: white;

    text-align: center;

    padding: 25px;

    font-size: 14px;
}

footer p {
    margin: 0;
}



@media (max-width: 700px) {

    .hero {
        height: 280px;
    }

    .hero h1 {
        font-size: 38px;
    }

    .nav-inner {
        gap: 15px;
    }

    .navbar a {
        font-size: 14px;
    }

    .iframe-card {
        width: 100%;
        height: 500px;
    }

    .iframe-card iframe {
        width: 600px;
        max-width: 100%;
        height: 500px;
    }
}